nav {
	height:100px;
	
}
nav.navbar {
	border-radius: 0px;
	/*background-color: green;*/
	border:0px;
}
nav.navbar.navbar-default {
	/*background-color: green;*/
	height: 70px;
}
div.container-fluid {
	background-color: #007A00;
	height:70px;
	/*padding:2%;*/
	font-size:18px;
	color:white;
}
div.navbar-header {
	height:70px;
	background-color: yellow;
	
}
.navbar-header>a.navbar-brand {
	color:#007A00;

}
ul.nav.navbar-nav>li>a {
	color:white;
}
ul.nav.navbar-nav>li>a:hover{
	color:yellow;
}


input.form-control.short {
	width:300px;
}
.select2 {
	width:200px;
}
/* calendar */
table.calendar		{ border-left:1px solid #ddd; }
tr.calendar-row	{  }
tr.calendar-row	th { 
	text-align: center;
	font-size: 12px;
 }
td.calendar-day	{ min-height:70px; font-size:11px; position:relative; } 
* html div.calendar-day { height:70px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#fff; min-height:70px; }
* html div.calendar-day-np { height:70px; }
th.calendar-day-head { 
	background:#fff;
	font-weight:bold;
	text-align:center;
	width:60px;
	padding:2px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd; 
	border-right:1px solid #ddd; 
}
   

div.day-number	{ 
	background:#fff; 
	padding:6px; 
	color:#333; 
	font-weight:bold; 
	float:right; 
	margin: 0;
	width:100%; 
	text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np {
	width:60px; 
	padding:4px; 
	border-bottom:1px solid #ddd; 
	border-right:1px solid #ddd; 
}



td.calendar-day.today div{

    color: #333;
    border: 1px solid #ABA9A9;
    padding: 5px;
    background-color: #f9f9f9;

}

table.calendar.table tbody td.calendar-day.today{
      padding: 0px;

}

td.tableBold {
	font-weight:bold;
	text-align:center;
	line-height: 25px;
   min-height: 25px;
   height: 5px;
   padding:2px;
	
}

h3.smallHeader {
	margin:1px;
}
#measureForm {
	display:none;
}

table.table.table-bordered tr td {
   /*line-height: 25px;
   min-height: 25px;
   height: 25px;*/
   padding:2px;
}
.tableBold.left{
 	text-align: left;
}
form.ajax div>input.short {
	width:212px;
	
}
#addNewFood{
margin-left:10px;
}
form.ajax.form-control.short{
	display:inline-block;
	width:50px;
}
.form-group.noMarginBottom{
	margin-bottom:1px;
	margin-top:10px;
}
div.form-group.noMarginBottom input.form-control.short{
	display:inline-block;
	float:right;
}
label.control-label.short{
	max-width: 300px;
	display:inline-block;
}
form#editMealForm div.form-group.noMarginBottom label .col-sm-2{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  /* padding-left: 15px; */
}

span.select2-container--bootstrap {
	
	display:inline-block;
}
.form-control.ingredient-weight {
	display:inline-block;
	width:26%;
}

table.calendar.table tbody td {
	padding: 0px;
}
table.calendar.table tbody th {
 	padding: 5px 3px;
}
.tdCenter{
	text-align: center;
}


#brandForm{
	display:none;
}
table.table.table-striped.bodyMeasurement tr td{
	text-align: center;
}

#rangesInfo {
	display:none;
}


.starvation {
	float:right;
	color:#FF0000;
}
.emaciation {
	float:right;
	color:#FF8900;
}
.underweight {
	color:#FFEF00;
	float:right;
}
.healthy {
	float:right;
	color:#2BFF00;
}
.overweight {
	float:right;
	color:#00B3FF;
}
.first-stage-of-obesity {
	float:right;
	color:#85939A;
}
.second-stage-of-obesity {
	float:right;
	color:#793720;
}
.third-stage-of-obesity {
	float:right;
	color:#1F0F09;
}
div.block-blur {
	background-color: #F5E4EF;
	width:30%;
	height:20%;
	margin:auto;
	padding:10px 20px;
	border-radius: 5px;
}
.gradient {
	background-image:url('../img/gradientLoginBlade.png');
	background-repeat:no-repeat;
	background-size:cover;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
 /* background-image: url('../img/vegetable.jpg');
	 background-size: cover;
	 width:100%;
	 background-repeat: no-repeat;*/
}
div.row {
	padding:2%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


.container .text-muted {
  margin: 20px 0;

}
div.block-blur {
	margin-top:10%;
}
.total-row> td{
	background-color: #CCFF33;
	text-align: center;
	font-weight: bold;
}

#additional-fields {
	display:none;
}