html {
/*  position: relative;
  min-height: 100%;*/
}


button.btn.btn-success,input.btn.btn-success {
	background-color: #33262F;
	border-color:#33262F;
	color:#20c05c;
	font-weight: bold;
}
a.btn.btn-success {
	background-color: #33262F;
	border-color:#33262F;
	color:#20c05c;
	font-weight: bold;
}
button.btn.btn-danger,input.btn.btn-danger {
	background-color: #33262F;
	border-color:#33262F;
	color:red;
	font-weight: bold;
}
a.btn.btn-danger {
	background-color: #33262F;
	border-color:#33262F;
	color:red;
	font-weight: bold;
}
.register-button {
    width: 100%;
    max-width: 300px;
}

.navbar-header>a.navbar-brand {
	color:#3D3D3D; /*dark grey*/

}

ul.nav.navbar-nav>li>a {
	/*color:#FFCC99;*/
	color:white;
}

input.form-control.short {
	width:100%
}
.select2 {
	width:100%;
}
/* calendar */
/*table.calendar		{ border-left:1px solid #ddd; }*/

tr.calendar-row	{  }
tr.calendar-row	th { 
	text-align: center;
	font-size: 12px;
}
td.calendar-day	{ min-height:70px; font-size:11px; position:relative; } 
* html div.calendar-day { height:70px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#fff; min-height:70px; }
* html div.calendar-day-np { height:70px; }
th.calendar-day-head { 
	background:#fff;
	font-weight:bold;
	text-align:center;
	width:60px;
	padding:2px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd; 
	border-right:1px solid #ddd; 
}
   

div.day-number { 
	background:#fff; 
	padding:6px; 
	color:#333; 
	font-weight:bold; 
	float:right; 
	margin: 0;
	width:100%; 
	text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np {
	width:60px; 
	padding:4px; 
	border-bottom:1px solid #ddd; 
	border-right:1px solid #ddd; 
}



td.calendar-day.today div {

  color: #333;
  border: 1px solid #ABA9A9;
  padding: 5px;
  background-color: #f9f9f9;

}

table.calendar.table tbody td.calendar-day.today {
  padding: 0px;

}

td.tableBold {
	font-weight:bold;
	text-align:center;
	line-height: 25px;
  min-height: 25px;
  height: 5px;
  padding:2px;
	
}

h3.smallHeader {
	margin:1px;
}
#measureForm {
	display:none;
}

table.table.table-bordered tr td {

   padding:2px;
}
.tableBold.left {
 	text-align: left;
}
form.ajax {
	width:100%;
}
form.ajax div>input.short {
	width:100%;
	
}
#addNewFood {
	margin-left:10px;
}
form.ajax.form-control.short {
	display:inline-block;
	width:100%;
}
.form-group.noMarginBottom {
	margin-bottom:1px;
	margin-top:10px;
}
div.form-group.noMarginBottom input.form-control.short {

}
label.control-label.short {
	max-width: 100%;
	display:inline-block;
}
form#editMealForm div.form-group.noMarginBottom label .col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  /* padding-left: 15px; */
}

span.select2-container--bootstrap {
	
	display:inline-block;
}
.form-control.ingredient-weight {
	display:inline-block;
	width:26%;
}

table.calendar.table tbody td {
	padding: 0px;
}
table.calendar.table tbody th {
 	padding: 5px 3px;
}
.tdCenter{
	text-align: center;
}


#brandForm {
	display:none;
}
table.table.table-striped.bodyMeasurement tr td {
	text-align: center;
}

#rangesInfo {
	display:none;
}


.starvation {
	float:right;
	color:#FF0000;
}
.emaciation {
	float:right;
	color:#FF8900;
}
.underweight {
	color:#FFEF00;
	float:right;
}
.healthy {
	float:right;
	color:#2BFF00;
}
.overweight {
	float:right;
	color:#00B3FF;
}
.first-stage-of-obesity {
	float:right;
	color:#85939A;
}
.second-stage-of-obesity {
	float:right;
	color:#793720;
}
.third-stage-of-obesity {
	float:right;
	color:#1F0F09;
}
div.block-blur {
	background-color: #F5E4EF;
	width:30%;
	height:20%;
	margin:auto;
	padding:10px 20px;
	border-radius: 5px;
}
.gradient {
	background-image:url('../img/gradientLoginBlade.png');
	background-repeat:no-repeat;
	background-size:cover;
}


.container .text-muted {
  margin: 20px 0;

}
div.block-blur {
	margin-top:10%;
}
.total-row> td{
	background-color: #30363c;
	/*text-align: center;
	font-weight: bold;*/
}

#additional-fields {
	display:none;
}
.fa-long-arrow-up {
	color:red;
}
.fa-long-arrow-down {
	color:green;
}

#newExerciseForm {
	display:none;
}
#newTrainingForm {
	display:none;
}

#training_div {
	/*background-color: rgba(253, 255, 153, 0.62);*/
	/*padding:1%;*/
	
}
#challenge_div {
	background-color: #FFCC99;
	padding:1%;
}
.step_div {
	width:20%;
	height:100%;
	background-color: beige;
}
#newTrainingBtn {
	display:none;
}
@media (max-width: 850px) {

 .pull-right-only-desktop {
    text-align: left;
  }
}

@media (min-width: 850px) {

  .pull-right-only-desktop {
    float:right !important;
  }

}

.container-fluid.half-padding {
	/*color:white;*/
}
.table-meals>tr>td {
	font-size:1px;
}
.table-meals>thead>tr>th {
	font-size:13px;
}



.flash {
	top: 75px;
  position: relative;
}
button#add {
  background-color: #46b98a;
}

  button#add:hover {
    background-color: #3fa67c;
  }

button#removeAll {
  background-color: #E0645C;
}

  button#removeAll:hover {
    background-color: #c95a52;
  }

button.removeMe {
  padding: 5px;
  font-size: 13px;
  margin-left: 10px;
  font-weight: 700;
}

  button.removeMe:hover {
    background-color: #46b98a;
  }

ul#list {
  margin: 0; 
  padding: 20px 0 0 0;
}


.fa.fa-times:hover {
	color:red;	
}
.wider_th {
	width:45%;
}

/*input#inputEmail:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #282D31 inset;
    border-color: #5e6870;
    color:grey;
}*/




/** Custom select2 styles */

.select2-container.select2-container--default.select2-container--open {
	/*position:fixed !important;*/
}

.panel-body .select2-container--default .select2-selection--single {
    background-color: rgba(36, 41, 44, 0.5);
    border-color: rgba(36, 41, 44, 0.5);
    box-shadow: none;
    color: #5e6870;
}

span.select2-container--open .select2-dropdown--below {
    background-color: #382835;
    border-color: #272c30;
}

.select2-search.select2-search--dropdown {
    background-color: #382835;
    border-color: #272c30;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    background-color: rgba(36, 41, 44, 0.5);
    border-color: rgba(36, 41, 44, 0.5);
    box-shadow: none;
    color: #5e6870;
}
/** end of our Custom select2 styles */



/** New calendar styles */

.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover {
    background-color: rgb(36, 41, 44);

}

.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th {
	color:#999;
}

body.fuchsia .datepicker-embed {
    background-color: rgb(66, 47, 62)
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: #20c05c;
}