html {
/*  position: relative;
  min-height: 100%;*/
}


.footer {
/*  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  background-color: #f5f5f5;*/
}

nav {
	/*position:fixed;*/
/*	top:30px;*/
}

/*bordo*/
/*nav.navbar-default {
	border-radius: 0px;
	border:0px;
	background-color: #A30000; 
	background-image: none;
}*/

/*bordo*/
/*div.container-fluid {
	background-color: #A30000; 
	font-size:15px;
	position: relative;
  	top: 50%;
  	width:80%;
}*/

/**div.navbar-header {
	height:50px;
	margin-left:15px;
	background-color: #FFCC99; 
	
} */
.navbar-header>a.navbar-brand {
	color:#3D3D3D; /*dark grey*/

}

ul.nav.navbar-nav>li>a {
	color:#FFCC99;
	
}
/*ul.nav.navbar-nav>li>a:hover{
	color:white;

}*/

.container {
	position: relative;
  top: 60px;
}
input.form-control.short {
	width:100%
}
.select2 {
	width:100%;
}
/* calendar */
table.calendar		{ border-left:1px solid #ddd; }
tr.calendar-row	{  }
tr.calendar-row	th { 
	text-align: center;
	font-size: 12px;
}
td.calendar-day	{ min-height:70px; font-size:11px; position:relative; } 
* html div.calendar-day { height:70px; }
td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#fff; min-height:70px; }
* html div.calendar-day-np { height:70px; }
th.calendar-day-head { 
	background:#fff;
	font-weight:bold;
	text-align:center;
	width:60px;
	padding:2px;
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd; 
	border-right:1px solid #ddd; 
}
   

div.day-number { 
	background:#fff; 
	padding:6px; 
	color:#333; 
	font-weight:bold; 
	float:right; 
	margin: 0;
	width:100%; 
	text-align:center; 
}
/* shared */
td.calendar-day, td.calendar-day-np {
	width:60px; 
	padding:4px; 
	border-bottom:1px solid #ddd; 
	border-right:1px solid #ddd; 
}



td.calendar-day.today div {

  color: #333;
  border: 1px solid #ABA9A9;
  padding: 5px;
  background-color: #f9f9f9;

}

table.calendar.table tbody td.calendar-day.today {
  padding: 0px;

}

td.tableBold {
	font-weight:bold;
	text-align:center;
	line-height: 25px;
  min-height: 25px;
  height: 5px;
  padding:2px;
	
}

h3.smallHeader {
	margin:1px;
}
#measureForm {
	display:none;
}

table.table.table-bordered tr td {

   padding:2px;
}
.tableBold.left {
 	text-align: left;
}
form.ajax {
	width:100%;
}
form.ajax div>input.short {
	width:100%;
	
}
#addNewFood {
margin-left:10px;
}
form.ajax.form-control.short {
	display:inline-block;
	width:100%;
}
.form-group.noMarginBottom {
	margin-bottom:1px;
	margin-top:10px;
}
div.form-group.noMarginBottom input.form-control.short {

}
label.control-label.short {
	max-width: 100%;
	display:inline-block;
}
form#editMealForm div.form-group.noMarginBottom label .col-sm-2 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  /* padding-left: 15px; */
}

span.select2-container--bootstrap {
	
	display:inline-block;
}
.form-control.ingredient-weight {
	display:inline-block;
	width:26%;
}

table.calendar.table tbody td {
	padding: 0px;
}
table.calendar.table tbody th {
 	padding: 5px 3px;
}
.tdCenter{
	text-align: center;
}


#brandForm {
	display:none;
}
table.table.table-striped.bodyMeasurement tr td {
	text-align: center;
}

#rangesInfo {
	display:none;
}


.starvation {
	float:right;
	color:#FF0000;
}
.emaciation {
	float:right;
	color:#FF8900;
}
.underweight {
	color:#FFEF00;
	float:right;
}
.healthy {
	float:right;
	color:#2BFF00;
}
.overweight {
	float:right;
	color:#00B3FF;
}
.first-stage-of-obesity {
	float:right;
	color:#85939A;
}
.second-stage-of-obesity {
	float:right;
	color:#793720;
}
.third-stage-of-obesity {
	float:right;
	color:#1F0F09;
}
div.block-blur {
	background-color: #F5E4EF;
	width:30%;
	height:20%;
	margin:auto;
	padding:10px 20px;
	border-radius: 5px;
}
.gradient {
	background-image:url('../img/gradientLoginBlade.png');
	background-repeat:no-repeat;
	background-size:cover;
}


.container .text-muted {
  margin: 20px 0;

}
div.block-blur {
	margin-top:10%;
}
.total-row> td{
	background-color: #CCFF33;
	text-align: center;
	font-weight: bold;
}

#additional-fields {
	display:none;
}
.fa-long-arrow-up {
	color:red;
}
.fa-long-arrow-down {
	color:green;
}

#newExerciseForm {
	display:none;
}
#newTrainingForm {
	display:none;
}
.btn.square-button {
	width:40px;
	height:40px;
	background-color: #A30000;
	color:#FFCC99;
	padding:1%;
	border-radius:0px;
	font-weight: bold;
	font-size: 150%;
	
	transition: background-color 0.5s ease;
	
}
.btn.square-button:hover {
	background-color:#FFCC99;
	color:#A30000;
	border:2px solid #A30000;
}
#exercises_div {
	background-color: #FFCC99;
	padding:1%;
	
}

#training_div {
	background-color: rgba(253, 255, 153, 0.62);
	padding:1%;
	
}
#challenge_div {
	background-color: #FFCC99;
	padding:1%;
}
.step_div {
	width:20%;
	height:100%;
	background-color: beige;
}
#newTrainingBtn {
	display:none;
}
@media (max-width: 850px) {

 .pull-right-only-desktop {
    text-align: left;
  }
}

@media (min-width: 850px) {

  .pull-right-only-desktop {
    float:right !important;
  }

}

.container-fluid.half-padding {
	color:white;
}